<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354356648613-a4uqnqc23hso9o7p0hb2cvl7maifrqcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354356648613-a4uqnqc23hso9o7p0hb2cvl7maifrqcr</string>
	<key>API_KEY</key>
	<string>AIzaSyA8EvRfKJ7eHvG_nYVqDMHYcxu2aQu-2S0</string>
	<key>GCM_SENDER_ID</key>
	<string>354356648613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mystuff.notesapp</string>
	<key>PROJECT_ID</key>
	<string>my-notes-app-146f1</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-app-146f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354356648613:ios:3358e87ef6629a62398b4c</string>
</dict>
</plist>